.hover{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
    z-index: 999;
}
.hoverWrap{
    width: 1080px;
    height: 640px;
    margin: 150px auto;
    background: white;
    overflow-y: auto;
}
.bd{
    border: 1px solid black;
}
header{
    /* background: gray; */
    /* border: 1px solid black; */
}
.col{
    display: inline-block;
    vertical-align: top;
}

.res-icon{
    display: inline-block;
    width: 120px;
}

.build-icon{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 120px;
    height: 140px;
    vertical-align: top;
}
.fuel-icon{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    /* width: 80px; */
    height: 60px;
    vertical-align: top;
}
.recipe-icon{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    /* width: 80px; */
    height: 80px;
    vertical-align: top;
}

.viewbox{
    /* display: flex; */
    margin-top: 5px;
}
.minebox{
    /* display: flexbox; */
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: 2px;
    padding: 2px;
    width: 120px;
    height: 120px;
}

.buildbox{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
    /* margin-right: 2px;
    margin-bottom: 2px; */
    width: 200px;
    height: 140px;
    vertical-align: top;
}

.warning{
    color: red;
    position: absolute;
    right: 0;
    top: 0;
}