.bd{
    border: 1px solid black;
}
header{
    /* background: gray; */
    /* border: 1px solid black; */
}
.col{
    display: inline-block;
    vertical-align: top;
}
.res-icon{
    display: inline-block;
    width: 120px;
}
.viewbox{
    /* display: flex; */
    margin-top: 5px;
}
.minebox{
    /* display: flexbox; */
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 100px;
    height: 100px;
}